@import url("components/banner.css");
@import url("components/categories.css");
@import url("components/contacts.css");
@import url("components/intro.css");

body {
	margin: 0px;
}

#fond-site {
	width: 100%;
}

h1 {
	font-family: Copperplate;
	font-size:40px;
}
